<p>Amigos en las redes</p>
<table>
	<tr>
		<td>
			<p>Primera</p>
			<img height="200px" width="200px" id="primera" src="{{primero}}">
		</td>
		<td>
			<p>Segunda</p>
			<img height="200px" width="200px" id="segunda" src="{{segundo}}">
		</td>
	</tr>
	<tr>
		<td>
			<p>Tercera</p>
			<img height="200px" width="200px" id="tercera" src="{{tercero}}">
		</td>
		<td>
			<p>Cuarta</p>
			<img height="200px" width="200px" id="cuarta" src="{{cuarto}}"></td>
	</tr>
	<tr>
		<td>
			<p>Quinta</p>
			<img height="200px" width="200px" id="quinta" src="{{quinto}}">
		</td>
		<td>
			<p>Sexta</p>
			<img height="200px" width="200px" id="sexta" src="{{sexto}}">
		</td>
	</tr>
</table>

<br/>

<div align="center">
	<p>Posicion 1</p>
	<span class="file-wrapper" id="yemn">
	<input type="file" name="photo" id="photoip" />
	<span id="uploadprimera" class="button">Browse...</span>
	</span>
	<br/>
	<p>Posición 2</p>
	<span class="file-wrapper" id="yemn">
	<input type="file" name="photo" id="photoip" />
	<span id="uploadsegunda" class="button">Browse...</span>
	</span>
	<br/>
	<p>Posición 3</p>
	<span class="file-wrapper" id="yemn">
	<input type="file" name="photo" id="photoip" />
	<span id="uploadtercera" class="button">Browse...</span>
	</span>
	<br/>
	<p>Posición 4</p>
	<span class="file-wrapper" id="yemn">
	<input type="file" name="photo" id="photoip" />
	<span id="uploadcuarta" class="button">Browse...</span>
	</span>
	<br/>
	<p>Posición 5</p>
	<span class="file-wrapper" id="yemn">
	<input type="file" name="photo" id="photoip" />
	<span id="uploadquinta" class="button">Browse...</span>
	</span>
	<br/>
	<p>Posición 6</p>
	<span class="file-wrapper" id="yemn">
	<input type="file" name="photo" id="photoip" />
	<span id="uploadsexta" class="button">Browse...</span>
	</span>
</div>

<button class="natural ramigos">Aceptar Cambios</button>