<h1>{{nombre}}</h1>
<img src="upload/portadas/{{id}}/{{img}}" style="width: 150px;"/>
<ul class="fullColab">
	<li><strong>Mes:</strong> {{mes_}}</li>
	<li><strong>Año:</strong> {{year}}</li>
</ul>
<br class="clear">
<p class="controls">
	<a href="#portadas/{{id}}/edit">Editar</a>
	<a href="#portadas/{{id}}/delete">Borrar</a>
</p>