<td>{{id}}</td>
<td>{{plaza}}</td>
<td>{{mes_}}</td>
<td>{{year}}</td>
<td><a href="#portadas/{{id}}">Ver</a></td>
<td><a href="#portadas/{{id}}/edit">Editar</a></td>
<td><a href="#portadas/{{id}}/delete">Borrar</a></td>